<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wusgud</title>
  </head>
  <body>
    <h1>All these guys are peeps</h1>
    <ul>
      {{ #people }}
      <li>{{name}}</li>
     {{ /people }}
    </ul>
  </body>
</html>
